################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarnaDojo/v16
/CarnaDojo/bin/Debug/netcoreapp3.0
/CarnaDojo/obj/Debug/netcoreapp3.0
/CarnaDojo/obj
/CarnaDojoTestes/bin/Debug/netcoreapp3.0
/CarnaDojoTestes/obj
/.vs/20200220-CarnaDojo/v16
/.vs
